body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  text-align: center;
}

nav {
  background-color: #222;
  padding: 12px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 15px;
  font-weight: bold;
}

nav a:hover {
  color: #ffb6c1;
}

img {
  border-radius: 10px;
  margin-top: 15px;
}
